body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2.5em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-size: 1.2em;
    border-radius: 5px;
}

button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos adicionales para la lista de recomendaciones y el enlace "Go Back" */
ul {
    list-style-type: none; /* Eliminar puntos de la lista */
    padding: 0;
}

li {
    padding: 10px;
    background-color: #e9ecef;
    margin-bottom: 5px;
    font-size: 1.2em;
    border-radius: 5px;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}
